@media(max-width:992px){

.hero-title{

    font-size:42px;

}

.hero-search{

    flex-direction:column;

}

.hero-stats{

    justify-content:space-between;

    gap:20px;

    margin-bottom:40px;

}

.hero-card{

    margin-top:40px;

}

}